---
---

@import "{{ site.theme }}";

header h1 a{ 
  color:#222;
}

section h1 { 
  line-height:1.35;
  font-size:20px;
}

img {
  max-width: 100%;
  border: 1px solid #eee;
}

ul.posts {
  padding-left: 0px;
  list-style-type: none;
}

ul.posts li {
  padding-top:4px;
  padding-bottom:4px;
}
